* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


main{
	padding: 50px 0;
	width: 960px;
	margin: 0 auto;
}

.box-headline{
	padding: 10px 0;
}


.box1{
	width: 300px;
	padding: 10px 10px 10px 10px;

	border: 3px solid #f7f7f7;
	float: left;
	position: relative;
}



.box-image1{
	width: 280px;
	height: 150px;
	background-image: url(img/flow01.png);
	background-position: bottom;
	background-size: cover;
}

.step-logo{
	width: 40px;
	height: 25px;
	display: inline-block;
	background-color: orange;
	color: white;
	font-size: 13px;
	position: absolute;
    top: 0;
    left: 0;
    padding: 2px;

}



.box-text{
	font-size: 16px;
}


.box2{
	width: 300px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	border: 3px solid #f7f7f7;
	float: left;
	position: relative;
	margin:0 30px;
}


.box-image2{
	width: 280px;
	height: 150px;
	background-image: url(img/flow02.png);
	background-position: bottom;
	background-size: cover;
}


.box3{
	width: 300px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	border: 3px solid #f7f7f7;
	float: left;
	position: relative;
}


.box-image3{
	width: 280px;
	height: 150px;
	background-image: url(img/flow03.png);
	background-position: bottom;
	background-size: cover;
}


@media screen and (max-width: 768px){

	main{
		width: 100%;
		padding: 50px 5%;
	}


	.box1, .box2, .box3{
		width: 100%;

	}

	.box-image1, .box-image2, .box-image3{
		width: 100%;

	}



	.box2{
		margin:20px 0;
	}


}





